body {
    background-image: url(../images/bodyAdmin.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#barraLateral {
    background-color: #e1ecf0ff;
    height: fit-content;
}

#backAdmin {
    opacity: 0.4;
}

#imgAdmin {
    width: 25%;
}

#datosAdmin {
    position: absolute;
    font-style: normal;
    top: 15%;
}

#contDatos {
    width: 100%;
    height: fit-content;
    display: inline-block;
    position: relative;
}

#btnMenuAdmin {
    height: 500px;
}

#btnMenuAdmin a {
    color: black;
    font-size: 1.4em;
    text-decoration: none;
    margin-left: 3%;
}

#btnMenuAdmin a:hover {
    background-color: gray;
    color: black;
}

#titApartado {
    background-color: #1498C2;
    width: 400px;
    height: 50px;
}

.table {
    margin: 5% 20% 0 15%;
    width: 30%;
    background-color: #e1ecf0ff;
}

.pagination {
    margin-top: 5%;
    margin-left: 40%;
    /* justify-content: center; */
}

.page-link {
    color: rgb(0, 0, 0) !important;
}

.page-item.active .page-link {
    background-color: #1498C2 !important;
    color: rgb(0, 0, 0) !important;
    border-color: transparent !important;
}

#logOut {
    border-radius: 10px;
    background-color: #ffffff;
    width: 150px;
    height: 40px;
    font-size: 1.3em;
}

#logOut:hover {
    background-color: #1498C2;
    font-weight: 700;
}
